trigger: none

pool:
  name : apatil1

steps:

# Step 1: Install Terraform
- task: TerraformInstaller@1
  displayName: 'Install Terraform'
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)\Envs\Dev'
    backendServiceArm: 'Service connection AkshaY'
    backendAzureRmStorageAccountName: 'storagepatil'
    backendAzureRmContainerName: 'patilcontainer'
    backendAzureRmKey: 'terraform.tfstate'



- task: PowerShell@2
  displayName: 'Install tfsec'
  inputs:
    targetType: 'inline'
    script: |
      Invoke-WebRequest -Uri https://github.com/aquasecurity/tfsec/releases/latest/download/tfsec-windows-amd64.exe -OutFile tfsec.exe
      Move-Item tfsec.exe C:\Windows\System32\tfsec.exe
      tfsec --version


- task: PowerShell@2
  displayName: 'Run tfsec Security Scan'
  inputs:
    targetType: 'inline'
    script: |
      tfsec $(System.DefaultWorkingDirectory)\Envs\Dev


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)\Envs\Dev'
    environmentServiceNameAzureRM: 'Service connection AkshaY'




