<<<<<<< HEAD
trigger: none

pool: apatil
=======
# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest
>>>>>>> 46e0da52b765c7115b1b9144413c89a8660e6ab4

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

<<<<<<< HEAD
=======
- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
>>>>>>> 46e0da52b765c7115b1b9144413c89a8660e6ab4
