trigger: none

pool:
  name : apatil1

steps:

# Step 1: Install Terraform
- task: TerraformInstaller@1
  displayName: 'Install Terraform'
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)\Envs\Dev'
    backendServiceArm: 'Service connection AkshaY'
    backendAzureRmStorageAccountName: 'storagepatil'
    backendAzureRmContainerName: 'patilcontainer'
    backendAzureRmKey: 'terraform.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)\Envs\Dev'
    environmentServiceNameAzureRM: 'Service connection AkshaY'

